@{
    ViewData["Title"] = "DeletePigeon";
    ViewBag.CurrentUrl = "~/Account/DeletePigeon";
}
<div class="container-main">
    <h1 class="home-title-pigeon">Deleted pigeon</h1>
    <div class="container-home">
        <h1 class="default-text">Pigeon deleted!</h1>
        <div class="cont-pos">
            <a class="deleted-but" asp-controller="Pigeon" asp-action="GetAll">Come back</a>
        </div>
    </div>
</div>
