@{
    ViewData["Title"] = "Delete";
    ViewBag.CurrentUrl = "~/Account/Delete";
}
<div class="container-main">
    <h1 class="home-title-pigeon">Deleted User</h1>
    <div class="container-home">
        <h1 class="default-text">User deleted!</h1>
        <div class="cont-pos">
            <a class="deleted-but" asp-controller="Account" asp-action="Admin">Come back</a>
        </div>
    </div>
</div>
